<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dyr.myapp">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
        android:theme="@android:style/Theme.NoTitleBar"
        android:label="@string/app_name">
        </activity>
        <activity android:name=".HelpActivity"
            android:theme="@style/MyTheme"
            android:label="@string/actvity_name">
        </activity>



        <activity android:name=".F1MainActivity"
            android:theme="@style/MyTheme"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".WatingActivity"
            android:theme="@style/MyTheme"
            android:label="wating">
        </activity>



        <activity android:name=".F2MainActivity"
            android:theme="@style/MyTheme">
        </activity>

    </application>

</manifest>
